// =======================================
// Expense Tracker - shared/themes/default
// =======================================

@import '../../../../store/sass/themes/default';

// @override bootstrap
$gray-light: $color-mono-xlight;
$theme-color-body: $color-mono-dark;

$theme-color-primary: $color-mono;
$theme-color-secondary: $color-mono-dark;
$theme-color-tertiary: $color-mono-xxdark;
$theme-color-quaternary: $color-mono-xxxlight;
$theme-color-quinary: $color-mono-xxxdark;
$theme-color-senary: $color-mono-xxlight;
$theme-color-septenary: $color-mono-light;

// Default Colors
$button-primary-color: $color-mono-xxxlight !default;
$button-primary-bg: $theme-color-primary;
$button-primary-border: $color-mono-xxxlight!default;

$button-info-color: $color-mono-xxlight;
$button-info-bg: $default-color-info;
$button-info-border: $default-color-info-dark;

$button-success-color: $color-mono-xxlight;
$button-success-bg: $default-color-success;
$button-success-border: $default-color-success-dark;

$button-warning-color: $color-mono-xxlight;
$button-warning-bg: $default-color-warning;
$button-warning-border: $default-color-warning-dark;

$button-danger-color: $color-mono-xxlight;
$button-danger-bg: $default-color-danger;
$button-danger-border: $default-color-danger-dark;

