// =====================================
// Expense Tracker - client/themes/blood
// =====================================

@import '../../../shared/sass/themes/default';

$theme-color-primary-xxlight: #f4c2be;
$theme-color-primary-xlight: #ec9a93;
$theme-color-primary-light: #e47267;
$theme-color-primary: #de5346;
$theme-color-primary-dark:#d93526;
$theme-color-primary-xdark: #c33022;
$theme-color-primary-xxdark: #ad2b1f;