// =======================================
// Expense Tracker - shared/modules/button
// =======================================

.button {
	   @include border-radius(4px);

		 &-primary  {
				background: $button-primary-bg;
				color: $button-primary-color;
				border-color: $button-primary-border;
				
				&:hover{
				 color: $color-mono-xxlight;
				 background: $theme-color-secondary;
				 border-color: $theme-color-secondary;
				 
				}

				&:active, &:focus{
				 background: $theme-color-secondary;
				 color: $color-mono-xxlight;
				}
		 }
		 &-info  {
				background: $button-info-bg;
				color: $button-info-color;
				border-color: $button-info-border;
				
				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-info-bg, 10%);
				 border-color: darken($button-info-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-info-bg, 10%);
 				 border-color: darken($button-info-bg, 20%);
				}
		 }
		 
		 &-warning  {
				background: $button-warning-bg;
				color: $button-warning-color;
				border-color: $button-warning-border;
				
				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-warning-bg, 10%);
				 border-color: darken($button-warning-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-warning-bg, 10%);
 				 border-color: darken($button-warning-bg, 20%);
				}
		 }
		 &-success  {
				background: $button-success-bg;
				color: $button-success-color;
				border-color: $button-success-border;
				
				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-success-bg, 10%);
				 border-color: darken($button-success-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-success-bg, 10%);
 				 border-color: darken($button-success-bg, 20%);
				}
		 }
		 
		 &-danger  {
				background: $button-danger-bg;
				color: $button-danger-color;
				border-color: $button-danger-border;
				
				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-danger-bg, 10%);
				 border-color: darken($button-danger-bg, 20%);
				 
				}

				&:active, &:focus{
					background: darken($button-danger-bg, 10%);
 				 border-color: darken($button-danger-bg, 20%);
				}
		 }
}
