.navbar {
  
  &-default{
    float: left;
  }

  &-right{
    float: right;
    
    @include breakpoint("medium-below"){
        float: none;
    }
  }
  
  &-header{
    @include breakpoint("medium-below"){
      border-bottom: $color-mono-xxlight;
    }
  }

  &-link{
    padding: 15px 30px;
    font-size: 16px;

    float: left;
    border-right: 1px solid $color-mono-xxlight;
    letter-spacing: 1px;
    
    color: $theme-color-primary;
    
    &:hover, &:focus{
      background: $theme-color-secondary;
      color: $color-mono-xxxlight;
    }
    
    @include breakpoint("medium-below"){
      width: 100%;  
      text-align: center;
    }
  }

}
