.sidebar {
  background: $color-mono-xxxlight;
  border-radius: 4px;

  > label{
    padding: 10px 25px;
    border-bottom: 1px solid $color-mono-xxlight;
    display: block;
    
    //override bootstrap
    margin-bottom: 0px;
  }

  &-nav {
    border-bottom: 1px solid $color-mono-xxlight;
    background: $color-mono-xxxlight;

    &-link{
      color: $theme-color-primary;
      padding: 16px;
      display: block;
      border-bottom: 1px solid $color-mono-xxlight;
      
      &:hover, &:focus{
        color: $theme-color-quinary;
        border-left: 1px solid $theme-color-quinary;
        background: $color-mono-xxlight;
      }
    }
  }

  &-megamenu{
    color: $theme-color-primary;
    display: block;
    padding: 5px 20px;
  }
}