// ========================================
// Expense Tracker - client/modules/sideNav
// ========================================

.sideNav {
    > li {
        display: block;
        padding: 8px 0;
        margin-bottom: 4px;
    }
}