// =======================================
// Expense Tracker - shared/layouts/footer
// =======================================

.Footer {
	display: block;
	width: 100%;
	
	background:$theme-color-primary;
	color: $color-mono-xxxlight;
}
