// =======================================
// Expense Tracker - shared/layouts/footer
// =======================================

.Header{
    background: $theme-color-primary;
    position: relative;
}

