// ===================================
// Digital Team Backend - shared/pages/page
// ===================================

.Page {
    
    width: 85%;
    height: 100%;
    float: left;
    .themePanel {        
        &--topLeft, &--topRight,
        &--rightTop, &--rightBottom,
        &--bottomLeft, &--bottomRight,
        &--leftTop, &--leftBottom {
            background-color: $color-mono-xxxlight;
            position: absolute;
            z-index: 1;
            
            .themePanelPallete {
                display: none;
            }
            
            &:before, &:after {
                content: '';
                position: absolute;
                z-index: 10;
            }
            
            &:before {
                height: 30px;
                width: 80px;
                display: block;
                background-color: $theme-color-primary;
            }
            
            &:after {
                width: 147px;
                height: 36px;
                background: url('./images/themeTab.png') no-repeat center;
                cursor: pointer;
            }
            
            @include breakpoint("medium-below") {
                &:before {
                    width: 30px;
                    left: 60px;
                }
                
                &:after {
                    background-image: url('./images/themeTab_mob.png');
                }
            } 
        }
       
        &--topLeft, &--topRight,
        &--bottomLeft, &--bottomRight {
            width: 100%;
        }
        
        &--topLeft, &--topRight {
            border-top: 1px solid $color-mono-xxxlight;
            top: 0;
            
            &:before {
                top: 100%;
                margin: 0 35px;
            }
        }
        
        &--bottomLeft, &--bottomRight {
            border-bottom: 1px solid $color-mono-xxxlight;
            bottom: 0;
                
            &:before, &:after {
                bottom: 100%;
                transform: rotate(180deg);
                transform-origin: center center;
            } 
            
            &:before {
                margin: 0 35px;
            }
        }
        
        &--topLeft, &--bottomLeft {
            &:before, &:after {
                margin-right: auto;
                left: 10%;
            }
        }
        
        &--topRight, &--bottomRight {
            &:before, &:after {
                margin-left: auto;
                right: 10%;
            }
        }
        
        &--rightTop, &--rightBottom,
        &--leftTop, &--leftBottom {
            height: 100%;
            max-width: 120px;
            
            .themePanelPallete {
                >li, &Item {
                margin-bottom: $base-line-height / 2;
                }
            }
        }
        
        &--rightTop, &--rightBottom {
            border-right: 1px solid $color-mono-xxxlight;
            right: 0;

            &:before, &:after {
                left: 0;
                transform: rotate(90deg);
                transform-origin: left top;
            }
        }
        
        &--leftTop, &--leftBottom {
            border-left: 1px solid $color-mono-xxxlight;
            left: 0;
  
            &:before, &:after {
                right: 0;
                transform: rotate(-90deg);
                transform-origin: right top;
            }
            
        }
        
        &--rightTop, &--leftTop {
            &:before, &:after {
                margin-bottom: auto;
                top: 100px;
            }
            
            &:before {
                margin: 35px 0;
            } 
        }
        
        &--rightBottom, &--leftBottom {
            &:before, &:after {
                margin-top: auto;
                bottom: 300px;
            }
            
            &:before {
                margin: -28px 0;
            } 
        }
        
        &Pallete {
            position: relative;
            margin: $base-line-height;
            
            >li, &Item {
                height: 80px;
                width: 80px;
                display: inline-block;
            }
        }
    }
}