// ==================
// Store - base/reset
// ==================

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    outline: 0;
    
    &:hover, &:focus, &:active{
        outline: 0;
    }
}

input::-moz-focus-inner { 
  border: 0; 
}
