// =============================================
// Digital Team Backend - client/pages/automateSingleBottlePage
// =============================================
.automateSingleBottle{
  background: $color-mono-xxlight;
  
  .form-group{
    width: 100%;
    
    .form-control{
      width: 80%;
      margin: 5px 20px;
    }
  }
  
  .singleBottleContainer{
    border: 1px solid #e7e7e7;
  }
}