// ====================================
// Expense Tracker - client/pages/login
// ====================================

.loginPage {
	.login {
		&-container {
			padding-top: 10%;
            
            @include breakpoint("xsmall-below") {
                padding-top: 160px;
            }
		}

		&-form-group {
			margin-left: 0;
			margin-right: 0;
		}
	}
}