// =============================================
// Expense Tracker - client/pages/patternLibrary
// =============================================

.patternLibraryPage {
    position: relative;
    padding: 0;
    margin: 0;

    background: $color-mono-xxlight;
    background-repeat: no-repeat;
    
    h1, h2, h3, h4, h5, h6{
      color: $theme-color-primary;
    }
    
    .Header{
      h1, h2, h3, h4, h5, h6{
        color: $color-mono-xxxlight;
      }
    }
    
    .nav {
      margin-bottom: 20px;
    }
    
    .isThemPanelHidden{
      width: 120px;
      
        .themePanelPallete{
          display: block;
        }
    }
    
    .sidebar {
      background: $color-mono-xxxlight;
      border-radius: 4px;

      > label{
        padding: 10px 25px;
        border-bottom: 1px solid $color-mono-xxlight;
        display: block;
        
        //override bootstrap
        margin-bottom: 0px;
      }

      &-nav {
        border-bottom: 1px solid $color-mono-xxlight;
        background: $color-mono-xxxlight;

        &-link{
          color: $theme-color-primary;
          padding: 16px;
          display: block;
          border-bottom: 1px solid $color-mono-xxlight;
          
          &:hover, &:focus{
            color: $theme-color-quinary;
            border-left: 1px solid $theme-color-quinary;
            background: $color-mono-xxlight;
          }
        }
      }

      &-megamenu{
        color: $theme-color-primary;
        display: block;
        padding: 5px 20px;
      }
    }
    
    .theme{
      padding: 5px;
      border: 1px solid $color-mono-xxxdark;
      
      &-default{
        border-color: $color-mono-xlight;
        text-align: center;
      }
      &-col-3{
        width: 31%;
        float: left;
        margin: 5px 8px;
        
        @include breakpoint("xlarge-below") {
          width: 46%;
        }
        
        @include breakpoint("medium-below") {
          width: 46%;  
        }
        @include breakpoint("small-below"){
          width: 100%;
        }
      }
    }
    .content{
      background: $color-mono-xxxlight;
      border-radius: 4px;
      padding: 10px 25px;
      margin-bottom: 50px;
    }

    .swatch {
        width: 31%;
        padding: 20px 10px;
        vertical-align: top;
        margin-bottom: 8px;
        margin-right: 4px;
        display: inline-block;
        border-radius: 4px;

        @include breakpoint("xlarge-below") {
          padding: 10px;
            height: 60px;
        }

        @include breakpoint("medium-below") {
          padding: 10px;
            height: 80px;
        }

         @include breakpoint("small-below") {
           padding: 10px;
            height: 100px;
        }

        @include breakpoint("xsmall-below") {
            width: 100%;
            height: auto;
        }
    }
    .button{
      &-group {
        position: relative;
        display: inline-block;
        margin: 0px 5px;
        vertical-align: middle;
      }
    }
    &-icon {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: $base-line-height;
        text-align: center;

        > .icon {
            display: block;
            margin: 10px auto;
        }

        > label {
            font-size: $font-size-base;
            font-weight: $font-weight-light;
        }
    }

    &-table {
        width: 100%;

        td {
            border-bottom: $color-mono-light;

            @include breakpoint("small-below") {
                display: block;
            }
        }
    }
}
