.searchResponseCode {
  background: $color-mono-xxlight;

  .form-inline{
    .form-control {
      width: 33.3%;
      margin-right: 1%;
      height: 50px;
    }

    .button{
      width: 30%;
      height: 50px;
    }
  }
}
