// ======================
// Store - modules/swatch
// ======================

.swatch {
    padding: 16px;
    background: inherit;
    color: $color-mono-xxxlight;

    &--mono {
        background: $color-mono;
        color: lighten($color-mono, 100%);

        &-xxxlight {
            background: $color-mono-xxxlight;
            color: darken($color-mono-xxxlight, 100%);
        }

        &-xxlight {
            background: $color-mono-xxlight;
            color: darken($color-mono-xxlight, 100%);
        }

        &-xlight {
            background: $color-mono-xlight;
            color: lighten($color-mono-xlight, 100%);
        }

        &-light {
            background: $color-mono-light;
            color: lighten($color-mono-light, 100%);
        }

        &-dark {
            background: $color-mono-dark;
            color: lighten($color-mono-dark, 100%);
        }

        &-xdark {
            background: $color-mono-xdark;
            color: lighten($color-mono-xdark, 100%);
        }

        &-xxdark {
            background: $color-mono-xxdark;
            color: lighten($color-mono-xxdark, 100%);
        }

        &-xxxdark {
            background: $color-mono-xxxdark;
            color: lighten($color-mono-xxxdark, 100%);
        }
    }

    &--primary {
        background: $theme-color-primary;
        color: lighten($theme-color-primary, 100%);

        &-xxlight {
            background: $theme-color-primary-xxlight;
            color: lighten($theme-color-primary-xxlight, 100%);
        }

        &-xlight {
            background: $theme-color-primary-xlight;
            color: lighten($theme-color-primary-xlight, 100%);
        }

        &-light {
            background: $theme-color-primary-light;
            color: lighten($theme-color-primary-light, 100%);
        }

        &-dark {
            background: $theme-color-primary-dark;
            color: lighten($theme-color-primary-dark, 100%);
        }

        &-xdark {
            background: $theme-color-primary-xdark;
            color: lighten($theme-color-primary-xdark, 100%);
        }

        &-xxdark {
            background: $theme-color-primary-xxdark;
            color: lighten($theme-color-primary-xxdark, 100%);
        }
    }
    
    &--secondary {
        background: $theme-color-secondary;
        color: lighten($theme-color-secondary, 100%);

        &-xxlight {
            background: $theme-color-primary-xxlight;
            color: lighten($theme-color-primary-xxlight, 100%);
        }

        &-xlight {
            background: $theme-color-primary-xlight;
            color: lighten($theme-color-primary-xlight, 100%);
        }

        &-light {
            background: $theme-color-primary-light;
            color: lighten($theme-color-primary-light, 100%);
        }

        &-dark {
            background: $theme-color-primary-dark;
            color: lighten($theme-color-primary-dark, 100%);
        }

        &-xdark {
            background: $theme-color-primary-xdark;
            color: lighten($theme-color-primary-xdark, 100%);
        }

        &-xxdark {
            background: $theme-color-primary-xxdark;
            color: lighten($theme-color-primary-xxdark, 100%);
        }
    }
    &--tertiary {
        background: $theme-color-tertiary;
        color: lighten($theme-color-tertiary, 100%);

        &-xxlight {
            background: $theme-color-primary-xxlight;
            color: lighten($theme-color-primary-xxlight, 100%);
        }

        &-xlight {
            background: $theme-color-primary-xlight;
            color: lighten($theme-color-primary-xlight, 100%);
        }

        &-light {
            background: $theme-color-primary-light;
            color: lighten($theme-color-primary-light, 100%);
        }

        &-dark {
            background: $theme-color-primary-dark;
            color: lighten($theme-color-primary-dark, 100%);
        }

        &-xdark {
            background: $theme-color-primary-xdark;
            color: lighten($theme-color-primary-xdark, 100%);
        }

        &-xxdark {
            background: $theme-color-primary-xxdark;
            color: lighten($theme-color-primary-xxdark, 100%);
        }
    }
    &--quaternary {
        background: $theme-color-quaternary;
        color: lighten($theme-color-quaternary, 100%);
      }
    &--quinary {
        background: $theme-color-quinary;
        color: lighten($theme-color-quinary, 100%);
    }
    &--senary {
        background: $theme-color-senary;
        color: lighten($theme-color-senary, 100%);
    }
    &--septenary {
        background: $theme-color-septenary;
        color: lighten($theme-color-septenary, 100%);
    }
    &--red{
      background: $theme-color-red;
      color: lighten($theme-color-red, 100%);
    }
    &--cherry{
      background: $theme-color-cherry;
      color: lighten($theme-color-cherry, 100%);
    }
    &--rose{
      background: $theme-color-rose;
      color: lighten($theme-color-rose, 100%);
    }
    &--jam{
      background: $theme-color-jam;
      color: lighten($theme-color-jam, 100%);
    }
    &--garnet{
      background: $theme-color-garnet;
      color: lighten($theme-color-garnet, 100%);
    }
    &--crimson{
      background: $theme-color-crimson;
      color: lighten($theme-color-crimson, 100%);
    }
    &--ruby{
      background: $theme-color-ruby;
      color: lighten($theme-color-ruby, 100%);
    }
    &--scarlet{
      background: $theme-color-scarlet;
      color: lighten($theme-color-scarlet, 100%);
    }
    &--blood{
      background: $theme-color-blood;
      color: lighten($theme-color-blood, 100%);
    }
    &--currant{
      background: $theme-color-currant;
      color: lighten($theme-color-currant, 100%);
    }
    &--blush{
      background: $theme-color-blush;
      color: lighten($theme-color-blush, 100%);
    }
    &--green{
      background: $theme-color-green;
      color: lighten($theme-color-green, 100%);
    }
    &--chartreuse{
      background: $theme-color-chartreuse;
      color: lighten($theme-color-chartreuse, 100%);
    }
    &--juniper{
      background: $theme-color-juniper;
      color: lighten($theme-color-juniper, 100%);
    }
    &--sage{
      background: $theme-color-sage;
      color: lighten($theme-color-sage, 100%);
    }
    &--olive{
      background: $theme-color-olive;
      color: lighten($theme-color-olive, 100%);
    }
    &--lime{
      background: $theme-color-lime;
      color: lighten($theme-color-lime, 100%);
    }
    &--emerald{
      background: $theme-color-emerald;
      color: lighten($theme-color-emerald, 100%);
    }
    &--seafoam{
      background: $theme-color-seafoam;
      color: lighten($theme-color-seafoam, 100%);
    }
    &--parakeet{
      background: $theme-color-parakeet;
      color: lighten($theme-color-parakeet, 100%);
    }
    &--basil{
      background: $theme-color-basil;
      color: lighten($theme-color-basil, 100%);
    }
    &--pine{
      background: $theme-color-pine;
      color: lighten($theme-color-pine, 100%);
    }
    &--tan{
      background: $theme-color-tan;
      color: lighten($theme-color-tan, 100%);
    }
    &--macaroon{
      background: $theme-color-macaroon;
      color: lighten($theme-color-macaroon, 100%);
    }
    &--granola{
      background: $theme-color-granola;
      color: lighten($theme-color-granola, 100%);
    }
    &--eggnog{
      background: $theme-color-eggnog;
      color: lighten($theme-color-eggnog, 100%);
    }
    &--sepia{
      background: $theme-color-sepia;
      color: lighten($theme-color-sepia, 100%);
    }
    &--latte{
      background: $theme-color-latte;
      color: lighten($theme-color-latte, 100%);
    }
    &--oyster{
      background: $theme-color-oyster;
      color: lighten($theme-color-oyster, 100%);
    }
    &--hazelnut{
      background: $theme-color-hazelnut;
      color: lighten($theme-color-hazelnut, 100%);
    }
    &--parmesean{
      background: $theme-color-parmesean;
      color: lighten($theme-color-parmesean, 100%);
    }
    &--buttermilk{
      background: $theme-color-buttermilk;
      color: lighten($theme-color-buttermilk, 100%);
    }
    &--sandcastle{
      background: $theme-color-sandcastle;
      color: lighten($theme-color-sandcastle, 100%);
    }
}
